@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      font-family: 'Poppins', sans-serif;
      background-color: #01151d;
    }
    
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }